---
import { Icon } from "astro-icon/components";

interface Props {
  rowSpan?: string;
  colSpan?: string;
  href?: string;
  order: string;
  noPadding?: boolean;
  bgColor?: string;
  maxHeight?: string;
}

interface AnimationDelay {
  "1": "delay-1";
  "2": "delay-2";
  "3": "delay-3";
  "4": "delay-4";
  "5": "delay-5";
  "6": "delay-6";
  "7": "delay-7";
}

const {
  href,
  rowSpan,
  colSpan,
  order,
  bgColor,
  maxHeight,
  noPadding = false,
} = Astro.props;

const animationDelay: AnimationDelay = {
  "1": "delay-1",
  "2": "delay-2",
  "3": "delay-3",
  "4": "delay-4",
  "5": "delay-5",
  "6": "delay-6",
  "7": "delay-7",
};

const cssString = `card opacity-0 ${!noPadding && "border-t-2 border-l-2 border-r-4 border-b-4"} border-sky-900 ${bgColor} dark:border-sky-200 animate-appear fill-mode-forwards ${animationDelay[order as keyof AnimationDelay]} h-max sm:h-auto group/card overflow-hidden shadow-lg rounded-lg ${!noPadding && "p-5"} ${href && "hover:border-orange-400 hover:dark:border-orange-700"} align-start flex-none h-max justify-start relative ${maxHeight} w-full col-span-=1 ${colSpan || "md:col-span-2"} ${rowSpan || "row-span-2"}`;
---

{
  href ? (
    <a id={`card-${order}`} href={href} class={cssString}>
      <Icon
        name="line-md--external-link"
        class="h-6 float-right group-hover:text-primary-500 group-hover:translate-x-1 group-hover/card:-translate-y-1 transition-transform ease-in-out duration-100 z-20"
      />
      <slot />
    </a>
  ) : (
    <div id={`card-${order}`} class={cssString}>
      <slot />
    </div>
  )
}
